.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 0 16px;
}

.price {
  font-size: 1.2em;
  font-weight: 600;
}

.details {
  display: flex;
  padding: 8px;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  justify-content: space-between;
}

.card-footer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.card-title {
  padding: 16px;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
