<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> {{ vehicle?.make }} {{ vehicle?.model }} </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="price">
      {{ vehicle?.price | currency: 'GBP':'symbol':'1.0-0' }}
    </div>
    <div class="details">
      <span>{{ vehicle?.colour }}</span>
      <span>{{ vehicle?.year }}</span>
      <span>{{ vehicle?.mileage }} miles</span>
    </div>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <button [routerLink]="['/vehicles', vehicle?.id]" matButton="filled">
      View Details
    </button>
  </mat-card-footer>
</mat-card>
