@use "@angular/material" as mat;

:host {
  @include mat.card-overrides(
    (
      outlined-container-shape: 4px,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
    )
  );
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.price {
  font-size: 2em;
  font-weight: 600;
  padding: 16px 0px;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.details {
  display: flex;
  padding: 8px;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  justify-content: space-between;
}

.card-footer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}
