@use "@angular/material" as mat;

:host {
  @include mat.card-overrides(
    (
      outlined-container-shape: 4px,
      outlined-container-color: #fff,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
      text-container-shape: 4px,
      text-label-text-color: var(--mat-sys-on-surface),
    )
  );

  @include mat.form-field-density(-4);
}

.container {
  padding: 20px;
  max-width: 1020px;
  margin: 0 auto;
}
